* {
    margin: 0px;
    border: 0px;
    padding: 0px;
}
html, body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
}
img{
    position:absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.glass{
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 40px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(20px);
    box-shadow: inset 0 2px 2px 0 #e7c4a088, inset 0 -2px 2px 0 #0003;
}
/* #tela-sign-in{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);;
    width: 40%;
    height: 100%;
    z-index: 1;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}
#conjunto{
    top: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 68%;
    height: 63%;
    z-index: 1;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}
#tela-sign-up{
    width: 100%;
    height: 100%;
    background-color: red;
}
input{
    border: 2px solid white;
    background: none;
    box-shadow: none;
    width: 100%;
    font-size: large;
    box-sizing: border-box;
    outline: none;
    padding: 3px;
} */